	{{ noparse }}
<!--
this will display the orbit image slider if enabled in theme options
http://foundation.zurb.com/docs/components/orbit.html
-->

{{ /noparse }}




<div class="row">
	<div class="large-12 columns">
		<div id="slider">

			<ul class="orbit" data-orbit>
				<li>
					<div class="content" style="background-image:url(http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-1.jpg);">
						<h1>Orbit does content now.</h1>
						<h3>Highlight me...Im text.</h3>
					</div> 
				</li>

				<li>
					<div class="content" style="background-image:url(http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-2.jpg);">
						<h1>Orbit does content now.</h1>
						<h3>Highlight me...Im text.</h3>
					</div> 
				</li>
				<li>
					<div class="content" style="background-image:url(http://buildinternet.s3.amazonaws.com/projects/supersized/3.2/slides/kazvan-3.jpg);">
						<h1>Orbit does content now.</h1>
						<h3>Highlight me...Im text.</h3>
					</div> 
				</li>

			</ul>

		</div>
		<hr />
	</div>
</div>

