<div class="property_footer ">
  <div class="row property">
    <div class="medium-4 small-12 columns">
      <div class="section-1">
        {{ widgets:area slug="footer-section-1" }}
        </div>
      </div>

      <div class="medium-8 small-12 columns">
        <div class="row collapse">
          <div class="medium-4 columns">
            <div class="section-2">
        {{ widgets:area slug="footer-section-2" }}
            </div>
          </div>
          <div class="medium-4 small-12 columns">
            <div class="section-3">
         {{ widgets:area slug="footer-section-3" }}
            </div>
          </div>
          <div class="medium-4 small-12 columns">
            <div class="section-4">
        {{ widgets:area slug="footer-section-4" }}
  
           </div>
         </div>
       </div> 
     </div>
   </div>
  </div>
