{{ noparse }}
<!--
iosslider
-->
{{ /noparse }}
<div class = 'container'>

	<div class = 'iosSlider'>

		<div class = 'slider'>

			<div class = 'item'>
				<div class = 'inner hide'>

				
					<div class = 'text1'><span>Lorem ipsum</span></div>

					<div class = 'text2'><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br />sed do eiusmod tempor incididunt ut labore et dolore.</span></div>
				</div>
			</div>
			<div class = 'item'>
				<div class = 'inner hide'>
	<div class = 'text1'><span>Sack Zement</span></div>

					<div class = 'text2'><span>Günstige Energie in Kilowattstunden verpackt !</span></div>
				</div>
			</div>
			<div class = 'item'>
				<div class = 'inner hide'>


					<div class = 'text1'><span>Wir haben nichts zu verschenken </span></div>

					<div class = 'text2'><span>Sie bestimmt auch nicht !</span></div>

				</div>
			</div>
		</div>
		<div class = 'selectorsBlock'>

			<div class = 'selectors'>
				<div class = 'item first selected'></div>
				<div class = 'item'></div>
				<div class = 'item'></div>
			</div>

		</div>

	</div>

</div>

