{{ theme:partial name="header" }}


<!-- content -->
<section id="content">
	<div class="row">
		{{ if theme:options:show_breadcrumbs == 'yes' }}
		<div class="large-12 columns">
			{{ theme:partial name="breadcrumbs" }}
		</div>
		{{ endif }}

		<div class="large-12 columns">


			{{ if { url:segments segment="1" } == '' AND theme:options:orbit == 'yes' }}
			<!-- orbit -->

			{{ theme:partial name="orbit" }}
			<!-- /orbit -->

			{{ endif }}

<div class="custom-small-type"><!-- safari fix -->
<div class="row hide-for-medium hide-for-large">
  <div class="small-4 columns">
	{{page:img_left:img}}   
	 </div>
  
  <div class="small-4 columns">
	{{page:img_center:img}}   
	
 </div>
  
  <div class="small-4 columns">
	{{page:img_right:img}}   
  </div>
</div>

<div class="row hide-for-medium hide-for-large">
  <div class="small-12 columns">
    <h2>{{page:uberschrift_links}}</h2>
    {{page:col3_text_left}}

  </div>
</div>

<div class="row hide-for-medium hide-for-large">
  <div class="small-12 columns">
    <h2>{{page:uberschrift_mitte}}</h2>
    {{page:col3_text_center}}

  </div>
</div>

<div class="row hide-for-medium hide-for-large">
  <div class="small-12 columns">
    <h2>{{page:uberschrift_rechts}}</h2>
    {{page:col3_text_right}}

  </div>
</div>
</div><!-- ende safarifix -->

<!-- medium and large -->
<div class="row hide-for-small hide-for-small custom-large-medium-type">
  <div class="small-4 columns">
	{{page:img_left:img}}   
	
	
    <h2>{{page:uberschrift_links}}</h2>
    {{page:col3_text_left}}

  </div>
  
  <div class="medium-4 large-4 columns">
	{{page:img_center:img}}   
	
	
    <h2>{{page:uberschrift_mitte}}</h2>
    {{page:col3_text_center}}

  </div>
  
  <div class="medium-4 large-4 columns">
	{{page:img_right:img}}   
	
	
    <h2>{{page:uberschrift_rechts}}</h2>
    {{page:col3_text_right}}

  </div>
</div>

	{{ widgets:area slug="contact_side" }}		
		</div>

	</div>

</section>


<!-- /content -->

{{ theme:partial name="footer" }}

